.wrapper {
  padding-bottom: 80px;
  @media (max-width: 820px) {
    padding-bottom: 40px;
  }
  section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.description {
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
  font-size: 16px;
  line-height: 26px;
  color: #444;
  cursor: pointer;
}

.headTitle {
  display: flex;
  align-items: center;
  column-gap: 24px;

  img {
    width: 80px;
    height: 80px;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.cupDescriptionHide {
  max-height: 250px;
  overflow: hidden;
}

@media (max-width: 820px) {
  .description {
    padding: 16px;
    font-size: 13px;
    line-height: 18px;
  }
}
