.main {
  position: relative;
  width: 100%;
  padding: 81px 0 74px;
  top: -27px;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  color: var(--white);
}

.img {
  background: var(--white);
  width: fit-content;
  height: fit-content;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;

  img {
    object-fit: contain;
    border-radius: 16px;
  }
}

.subTitle {
  font-weight: 600 !important;

  span {
    margin-left: 8px;
    font-weight: 400;
    color: var(--gray-extra-light);
  }
}

.link {
  color: var(--gray-extra-light) !important;
  text-decoration-line: underline !important;
  font-weight: 300 !important;
  text-transform: capitalize;
}

@media (max-width:820px) {
  .main {
    padding: 100px 0 0;

    & > img {
      height: 175px !important;
    }
  }

  .img img {
    width: 150px;
    height: 150px;
  }

  .info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: var(--black);

    h1 {
      text-align: center;
    }
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .subTitle {
    span {
      color: var(--black);
      opacity: 0.800000011920929;
    }
  }

  .whiteSpace {
    span {
      margin-left: 0;
      display: block;
      width: 100%;
    }
  }

  .link {
    color: var(--black) !important;
  }
}
