.selectHours {
  display: flex;
  column-gap: 24px;
  margin: 8px 0 20px;

  .select {
    max-width: 400px;
    margin-top: 8px;

    & div:first-child {
      padding: 8px 16px;
      border-radius: 8px;
    }

    &>div {
      background-color: #F8F8FB;
    }
  }
}
