.formCreate {
  .select {
    max-width: 400px;
    margin-top: 8px;

    & div:first-child {
      padding: 8px 16px;
      border-radius: 8px;
    }

    &>div {
      background-color: #F8F8FB;
    }
  }
}

.error {
  margin-top: 15px;
  color: #F41414;
}

.selectField {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  row-gap: 8px;
}

.info {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 56px;
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

@media (max-width: 820px) {
  .info {
    row-gap: 32px;
  }
}
