.mainBox {
  margin: 40px 0;
}

.topContent {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 40px;

  & div:nth-child(2) {
    margin-left: auto;
  }
}

.title {
  min-width: fit-content;
  max-width: 50%;
  overflow: hidden;
}

.found {
  color: var(--select-gray);
  margin: 10px 0;
  font-size: 16px;
}

.breadCrumbs {
  display: flex;
  align-items: center;
}

@media (max-width: 820px) {
  .mainBox {
    margin: 30px 0;
  }

  .topContent {
    display: block;

    & > * {
      margin-bottom: 16px;
    }
  }

  .title {
    max-width: none;
    min-width: auto;
    margin-bottom: 10px;
  }

  .breadCrumbs {
    margin-bottom: 0;
  }
}
