.table,
.tableAccordion {
  border-radius: 8px;
  margin-top: 24px;
  overflow: hidden;
  box-shadow: 0 0 16px rgb(0 0 0 / 8%);
}

.tableAccordion {
  cursor: pointer;
}

.results {
  display: flex;
  flex-wrap: wrap;

  & li:nth-child(odd) {
    border-right: 1px solid var(--gray-light);
  }
}

.title {
  background-color: var(--blue-light);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > h4 {
    font-weight: 400;
  }
}

.closeIcon {
  transition: all 0.3s ease-in-out;

  & svg {
    align-items: center;
    justify-content: center;
  }
}

.open {
  transform: rotate(180deg);
}

.hide {
  transform: rotate(0deg);
}

.logo {
  width: 28px;
  height: 28px;
  margin: 0 10px;
  border-radius: 4px;
}

.secondary {
  background-color: var(--gray-extra-light);
}

.primary,
.secondary {
  width: 50%;
  overflow: hidden;
}

.linkStyle {
  padding-bottom: 8px;
  display: block;

  &:hover {
    color: var(--black);
  }
}

.status,
.statusCompleted,
.statusRescheduled,
.statusAwait,
.statusIsOn {
  margin: 8px 0 10px;
  text-align: center;
  font-size: 16px;
}

.status,
.statusCompleted,
.statusAwait {
  color: var(--black);
}

.statusRescheduled {
  // color: #D81F1F;
  color: var(--black);
}

.statusIsOn {
  color: #34C628;
}

.matchDate {
  color: var(--gray-light);
}

.teams {
  width: 100%;
  display: flex;
  column-gap: 30px;

  & div:first-child {
    justify-content: flex-end;
  }
}

.deletedPlayers {
  margin-top: 40px;
  &>div {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  li {
    margin-top: 10px;
  }
}

.team {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
  flex-grow: 1;
  flex-basis: 50%;

  img {
    object-fit: contain;
    width: 28px;
    height: 28px;
  }

  p, a {
    color: var(--black);
  }

  a {
    display: flex;
    align-items: center;
  }
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--black);
  margin: 0 10px;
}

.pagination {
  display: none;
}

.matchTourDate {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin-top: 25px;
}

.matchInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 30px 0;
}

.teamLogo {
  width: 211px;
  height: 211px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.teamLogoImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.matchResult {
  font-size: 176px;
}

.matchTeamName {
  font-size: 25px;
  margin-top: 30px;
}

.matchDescription {
  text-align: center;
  font-size: 25px;
  color: #181818;
}

.matchDetail {
  margin-top: 70px;
}

.matchDetailTitle {
  font-size: 39px;
  text-align: center;
  margin-bottom: 30px;
}

.matchGoals {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.elements {
  display: flex;
}

.teamElements {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  padding: 20px;
}

.horizontalBorder {
  height: 1px;
  width: 100%;
  background: #D4D4D4;
}

.verticalBorder {
  width: 1px;
  background: #D4D4D4;
}

.player {
  font-size: 16px;
}

.yellowCard {
  height: 32px;
  width: 24px;
  background: yellow;
}

.redCard {
  height: 32px;
  width: 24px;
  background: red;
}

.matchLocation {
  margin-top: 25px;
}

.matchNumber {
  margin-top: 10px;
}

.cupTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allElementsMatch {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.time {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  color: var(--gray-light);
}

.iconsInfo {
  padding-left: 20px;
  margin-top: 15px;

  li {
    list-style: disc;
    margin-top: 15px;
    font-size: 18px;

    img {
      margin-right: 20px;
    }
  }
}

.resultBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description {
  font-size: 20px;
  margin-top: 15px;
  color: var(--gray);
  text-align: center;
  max-width: 450px;
}

@media (max-width: 820px) {

  .iconsInfo {
    li {
      font-size: 13px;
      margin-top: 10px;
    }
  }

  .table,
  .tableAccordion {
    margin-bottom: 20px;
  }

  .results {
    & li:nth-child(odd) {
      border-right: none;
    }

    & li:nth-child(even) {
      background-color: var(--gray-extra-light);
    }
  }

  .primary,
  .secondary {
    background-color: var(--white);
    width: 100%;
  }

  .linkStyle {
    padding: 5px 8px 16px;
  }

  .teams {
    column-gap: 12px;
  }

  .teamName {
    font-size: 14px;
    line-height: 20px;
  }

  .status {
    color: var(--black);
  }

  .matchDate {
    color: var(--black);
  }

  .matchTime {
    font-weight: 500;
  }

  .title {
    padding: 10px 8px;
  }

  .pagination {
    display: block;
  }

  .matchTourDate {
    font-size: 16px;
  }

  .matchInfo {
    align-items: center;
    margin: 25px 0;
  }

  .teamLogo {
    width: 100px;
    height: 100px;
  }

  .matchResult {
    font-size: 39px;
    margin-bottom: 30px;
  }

  .time {
    font-size: 14px;
  }

  .matchTeamName {
    font-size: 16px;
    margin-top: 20px;
    max-width: 100px;
  }

  .matchDescription {
    font-size: 13px;
  }

  .matchLocation {
    margin-top: 10px;
  }

  .matchDetail {
    margin-top: 40px;
  }

  .matchDetailTitle {
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
  }

  .matchGoals {
    p {
      font-size: 12px;
    }
  }

  .teamElements {
    padding: 10px;
  }

  .yellowCard {
    width: 18px;
    height: 24px;
  }

  .secondTeamPLayerNameItem {
    text-align: end;
  }

  .allElementsMatch {
    gap: 0;

    img {
      width: 15px;
    }
  }
}

.matchTeams {
  margin-top: 40px;
}
