.fieldSlider {
  display: none;
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 20px !important;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    color: var(--white) !important;
    display: inline-flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(24, 24, 24, 0.63);
  }

  .swiper-slide-active {
    height: 100% !important;
    width: 100% !important;
  }
}


@media (max-width: 820px) {
  .fieldSlider {
    display: block;
  }
}
