.cardMain {
  width: 198px;
  height: 312px;
  padding: 8px 8px;
  cursor: pointer;
  border-radius: 8px;
  position: relative;

  &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  :global {
    .swiper-pagination {
        position: static !important;
        display: flex;
        gap: 8px;
        justify-content: center;
    }

    .swiper-pagination-clickable .swiper-pagination-bullet {
      background: #000000;
    }
  }
}

.productImg {
  width: 182px;
  height: 184px;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

}

.cardDescription {
  margin-top: 5px;
}

.cardPrice {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  margin-top: 20px;
}

.pinBlock {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 8px;
  top: 8px;
  border-top: 50px solid var(--blue-mid);
  border-left: 50px solid transparent;
  z-index: 2;

  img {
    position: absolute;
    top: -50px;
    right: 0;
    width: 24px;
    height: 24px;
  }
}