.aside {
  display: block;
  width: 400px;
  padding: 24px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
  border: 2px solid var(--blue-light);
  height: fit-content;
  border-radius: 12px;
}

.title {
  font-size: 20px;
  font-weight: 600; 
  color: var(--black);
  border-bottom: none !important;
  margin-bottom: 10px;
}

.filterBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;

  & > div {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #E6E9F6 !important;
    min-width: 300px !important;

    & input {
      color: var(--select-gray) !important;
      font-size: 20px !important;
    }

    & input::placeholder {
      color: var(--select-gray) !important;
      font-size: 20px !important;
    }

  }
}
