.closeIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:active {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.storeFilterBlock {
  display: flex;
  gap: 20px;
  margin-top: 32px;
}
